*{
    margin: 0;
    padding: 0;
}
.ai{
    width: 50px;
    height: 50px;
    background-color: blue;
    text-align: center;
    float:right;
    margin-right: 100px;
    line-height: 50px;
    color: white;
    margin-top: 10px;
    border-radius: 50%;
}
.main{
    line-height: 70px;
}