* {
    margin: 0;
    padding: 0;
}

.body {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../public/u12187_state0.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.right {
    width: 60vw;
    height: 100vh;
}

.left {
    width: 500px;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.left div{
    height: 40%;
}