@font-face {
  font-family: "iconfont"; /* Project id 4848825 */
  src: url('//at.alicdn.com/t/c/font_4848825_mnmb6jn2zwb.woff2?t=1741264408251') format('woff2'),
       url('//at.alicdn.com/t/c/font_4848825_mnmb6jn2zwb.woff?t=1741264408251') format('woff'),
       url('//at.alicdn.com/t/c/font_4848825_mnmb6jn2zwb.ttf?t=1741264408251') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 50px;
}

.icon-huoyueyonghu:before {
  content: "\e6a7";
  color: #DE4259;
}

.icon-kedanjia:before {
  content: "\e666";
  color:#F99E39;
}

.icon-zhuanhuashuai:before {
  content: "\e7eb";
  color:#A392DB;
}

.icon-xinzengyonghu:before {
  content: "\e60d";
  color:#59C7B6;
}

.icon-fukuanjine:before {
  content: "\e600";
  color:#FF5D32;
}

.icon-gongzuozhuangtailiu:before {
  content: "\e632";
  color:#FF5D32;
}
